body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: purple;
}

div {
    background-color: lightskyblue;
    color: purple;
    font-size: 25px;
    border: 1px black solid;
    border-radius: 5px;
    height: 25px;
    width: 35;
    padding: 15;
}

.catagory  {
    padding: 10px;
    margin: 10px;
}

div > .boxes {
    padding: 15;

}
    
